.container {
  width: 95%;
  max-width: 1440px;
  margin-inline: auto;
  font-family: sans-serif;
}

button {
  cursor: pointer;
}
body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
}
