.CallBack {
  .content {
    display: flex;
    .title {
      width: 100%;
      font-size: 1.5rem;
      font-weight: 700;
      color: #1e1e1e;
    }
    .send_message {
      width: 100%;
      .title_send_message {
        font-size: 2.1rem;
        color: #1e1e1e;
        font-weight: 600;
        span {
          color: #0a3d62;
        }
      }
      .inputs {
        display: flex;
        flex-direction: column;
        padding: 1.5rem 0;
        gap: 0.5rem;
        .input,
        .textarea {
          width: 100%;
          font-size: 1.1rem;
          color: #1e1e1e;
          padding: 1rem 0;
          border: none;
          outline: none;
          border-bottom: solid #828282 1px;
          &::placeholder {
            color: #828282;
            font-size: 1.1rem;
            font-weight: 400;
          }
        }
        .textarea {
          min-width: 720px;
          max-width: 720px;
          min-height: 150px;
          font-family: sans-serif;
        }
        .label_checkbox {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          font-size: 1rem;
          color: #1e1e1e;
          padding: 1rem 0;
          cursor: pointer;
          user-select: none;
          position: relative;
          input[type="checkbox"] {
            opacity: 0;
            position: absolute;
            width: 24px;
            height: 24px;
            cursor: pointer;
          }
          .customCheckbox {
            width: 24px;
            height: 24px;
            border: 2px solid #0d3b5c;
            border-radius: 1px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            transition: background-color 0.2s, border-color 0.2s;
          }
          input[type="checkbox"]:checked ~ .customCheckbox {
            background-color: #0d3b5c;
            border-color: #0d3b5c;
            display: flex;
            justify-content: center;
            align-items: center;
            &::after {
              content: url("../../../public/images/галочка.svg");
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 18px;
              color: white;
              font-weight: bold;
            }
          }
        }
        .button {
          width: 100%;
          padding: 10px;
          font-size: 0.9rem;
          border: 1.5px solid #828282;
          background: transparent;
          color: #0a3d62;
          font-weight: 700;
          &:hover {
            border: solid 1.5px #0a3d62;
          }
        }
      }
    }
  }
}
