.footer {
  display: flex;
  margin-top: 120px;
  background-color: #0a3d62;
  .footer_left {
    width: 100%;
    color: white;
    height: auto;
    padding: clamp(1.875rem, 1.219rem + 1.37vw, 2.5rem) 0; // 40
    h1 {
      padding: clamp(0.625rem, -0.031rem + 1.37vw, 1.25rem)
        clamp(1.25rem, -0.717rem + 4.1vw, 3.125rem); // 20 50
    }
    .display_footer {
      display: flex;
      padding: 30px 0;
      gap: clamp(0.625rem, -6.588rem + 15.03vw, 7.5rem); // 120
      .links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        nav {
          padding: 0 clamp(1.25rem, -0.717rem + 4.1vw, 3.125rem); // 50
          display: flex;
          flex-direction: column;
          gap: clamp(0.625rem, -0.031rem + 1.37vw, 1.25rem); //  20
          a {
            color: white;
            text-decoration: none;
            font-size: clamp(1rem, 0.79rem + 0.44vw, 1.2rem); // 1.2
            font-family: sans-serif;
            font-weight: 600;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        .socials_links {
          padding: 0 clamp(1.25rem, -0.717rem + 4.1vw, 3.125rem); // 50
          display: flex;
          flex-direction: column;
          gap: 18px;
          a {
            text-decoration: none;
            color: white;
            font-size: clamp(1rem, 0.895rem + 0.22vw, 1.1rem); // 1.1
            font-family: sans-serif;
            font-weight: 600;
          }
        }
      }
      .contact_footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: clamp(1.563rem, 0.907rem + 1.37vw, 2.188rem); // 35
        .contacts {
          display: flex;
          flex-direction: column;
          gap: 8px;
          h3 {
            font-size: clamp(0.9rem, 0.795rem + 0.22vw, 1rem); // 1
            color: #e0e0e0;
            font-weight: 700;
            font-family: sans-serif;
          }
          h4 {
            font-weight: 100;
            font-size: clamp(0.9rem, 0.795rem + 0.22vw, 1rem);
            color: #e0e0e0;
            font-family: sans-serif;
          }
        }
      }
    }
  }
  .footer_map {
    width: 100%;
    min-width: clamp(25rem, -1.23rem + 54.64vw, 50rem); // 800
  }
}

@media (max-width: 767px) {
  .footer {
    display: flex;
    flex-direction: column;
    .footer_left {
      .display_footer {
        width: 100%;
        display: flex;
        @media (max-width: 500px) {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          gap: 30px;
        }
        justify-content: start;
        gap: clamp(0.5rem, -15.643rem + 80.72vw, 23rem); // 23
        .links {
          nav {
            a {
              font-size: clamp(0.9rem, 0.828rem + 0.36vw, 1rem); // 1
            }
          }
          .socials_links {
            @media (max-width: 500px) {
              margin-top: 2rem;
            }
            a {
              font-size: clamp(0.9rem, 0.828rem + 0.36vw, 1rem); // 1
            }
          }
        }
        .contact_footer {
          @media (max-width: 500px) {
            margin-top: 1rem;
          }
          .contacts {
            h3 {
              padding: 0 20px;
            }
            h4 {
              padding: 0 20px;
            }
          }
        }
      }
    }
    .footer_map {
      height: 100%;
      min-width: 100%;
      height: 400px;
    }
  }
}
